<ng-container *ngIf="!logado()">
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 align-self-end">
          <img
            [routerLink]="['']"
            style="cursor: pointer"
            src="assets/logo1.png"
            alt="logotipo"
          />
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 text-center align-self-end">
          <div class="btn-group">
            <button
              style="border-radius: 5px; margin: 6px"
              class="btn btn-shadow"
              *ngFor="let button of buttons"
              type="button"
              routerLink="{{ button.router }}"
            >
              {{ button.nome }}
            </button>
          </div>
        </div>
        <div class="col-4 text-right mt-4">
          <button class="" [routerLink]="['carrinho']" mat-icon-button>
            <mat-icon
              matBadge="{{ totalItens }}"
              matBadgeSize="small"
              matBadgePosition="after"
              matTooltip="Carrinho"
              >shopping_cart</mat-icon
            >
          </button>
          <button mat-icon-button>
            <mat-icon matTooltip="Entrar" routerLink="login"
              >account_circle</mat-icon
            >
          </button>
        </div>
      </div>
    </div>
  </header>
</ng-container>

<ng-container *ngIf="logado()">
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 align-self-center">
          <img
            [routerLink]="['']"
            style="cursor: pointer"
            src="assets/logo1.png"
            alt="logotipo"
          />
        </div>
        <div class="col-6 text-right align-self-center">
          <ng-container>
            <button
              class="btn2 btn-shadow"
              style="color: black"
              routerLink="restrito"
            >
              ÁREA RESTRITA
            </button>
            <button
              class="btn2 btn-shadow"
              style="color: black; margin-left: 15px"
              routerLink="restrito"
              (click)="logout()"
            >
              SAIR
            </button>
          </ng-container>
        </div>
        <div class="col-12 text-center">
          <div class="btn-group">
            <button
              style="border-radius: 5px; margin: 6px"
              class="btn btn-shadow"
              *ngFor="let button of buttons"
              type="button"
              routerLink="{{ button.router }}"
            >
              {{ button.nome }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
</ng-container>
