<ng-container class="h-100" *ngIf="produtos.length != 0">
  <div class="container">
    <h3 class="text-center m-3">Carrinho de compras</h3>
    <ul class="list-group m-3">
      <li
        class="list-group-item"
        *ngFor="let produto of produtos; let i = index"
      >
        <div class="row col-12 align-items-center">
          <div class="col-12 col-lg-4 text-center">
            <h4 class="text-decoration-none text-danger">
              <b>{{ produto.titulo }}</b>
            </h4>
            <img
              style="width: 200px; border-radius: 10px"
              src="{{ produto.foto }}"
              alt="{{ produto.titulo }}"
            />
            <p class="text-secondary mt-2">Preço: R$ {{ produto.valor }}</p>
          </div>
          <div class="col-12 col-lg-4">
            <p class="text-center">
              <small>{{ produto.descricao }}</small>
            </p>
          </div>
          <div class="text-center col-lg-4">
            <button
              (click)="removerItem(produto)"
              mat-icon-button
              matTooltip="Apagar do carrinho"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </li>
    </ul>
    <div class="col-12 offset-lg-6 col-lg-6">
      <div class="container align-items-end text-center">
        <h5>Resumo</h5>

        <p>Sub-Total: R$ {{ valorProdutos }}</p>
        <mat-accordion>
          <mat-expansion-panel hideToggle class="mb-3">
            <mat-expansion-panel-header>
              <mat-panel-title class="text-secondary">
                Possui cupom de desconto?</mat-panel-title
              >
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
              <mat-label>Cupom de desconto</mat-label>
              <input #cupom matInput placeholder="Escreva aqui.." />
            </mat-form-field>
            <button
              class="btn btn-outline-primary ml-3"
              (click)="aplicarDesconto(cupom.value)"
            >
              APLICAR
            </button>
          </mat-expansion-panel>
        </mat-accordion>
        <p class="text-success mt-3" *ngIf="cupom.value.length > 5">
          Desconto: R$ {{ desconto }}
        </p>
        <h6>Total: R$ {{ valorTotal }}</h6>
        <button class="btn btn-outline-danger mb-2" (click)="removerTodos()">
          LIMPAR TUDO
        </button>
        <button
          class="btn btn-outline-primary ml-2 mb-2"
          routerLink="/cardapio"
        >
          COMPRAR MAIS
        </button>
        <button
          class="btn btn-outline-success ml-2 mb-2"
          routerLink="/finalizar-pedido"
        >
          FINALIZAR
        </button>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="produtos.length == 0">
  <div class="container col-12 text-center">
    <h5 class="m-3">Seu carrinho está vázio.</h5>
    <img
      src="assets/Cart.png"
      alt="Imagem de um carrinho de compras vazio."
      style="height: 200px;"
    />
  </div>
</ng-container>
