<header class="header" fxLayout="row" fxLayoutAlign="center center">
  <img
    class="ml-3"
    [routerLink]="['']"
    style="cursor: pointer"
    src="assets/logo1.png"
    alt="logotipo"
  />

  <button class="ml-auto" [routerLink]="['carrinho']" mat-icon-button>
    <mat-icon matTooltip="Carrinho">shopping_cart</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon matTooltip="Entrar">account_circle</mat-icon>
  </button>
</header>

<div
  class="div-menu mat-elevation-z8"
  fxLayout="row"
  fxLayoutAlign="space-evenly start"
>
  <!--MENU - HOME -->
  <button mat-button routerLink="">INICÍO</button>

  <!--MENU - CARDAPIO -->

  <button mat-button routerLink="/cardapio">CARDÁPIO</button>

  <!--MENU - LOCALIZAÇÃO -->

  <button mat-button>NOSSA LOCALIZAÇÃO</button>

  <!--MENU - LOCALIZAÇÃO -->

  <button mat-button>CONTATO</button>
</div>
