<header fxLayout="row" fxLayoutAlign="space-between center">
  <img src="assets/logo1.png" alt="logotipo" />
</header>
<div
  class="div-menu mat-elevation-z8"
  fxLayout="row"
  fxLayoutAlign="space-evenly start"
>
  <!--MENU - HOME -->
  <button mat-button routerLink="">INICÍO</button>

  <!--MENU - CARDAPIO -->

  <button mat-button routerLink="/cardapio">CARDÁPIO</button>

  <!--MENU - LOCALIZAÇÃO -->

  <button mat-button>NOSSA LOCALIZAÇÃO</button>

  <!--MENU - LOCALIZAÇÃO -->

  <button mat-button>CONTATO</button>
</div>
