<div
  fxLayout="row"
  fxLayoutGap="10px"
  fxLayout.xs="column"
  fxLayoutAlign="center center"
>
  <div
    class="card"
    style="width: 18rem; padding: 10px"
    *ngFor="let categoria of cards"
  >
    <img
      src="{{ categoria.foto }}"
      class="card-img-top"
      style="height: 200px; border-radius: 10px"
      alt="{{ categoria.titulo }}"
    />
    <div class="card-body text-center">
      <h5 class="card-title">{{ categoria.titulo }}</h5>
      <p class="card-text"></p>
      <a class="btn" routerLink="{{ categoria.id }}">SELECIONAR</a>
    </div>
  </div>
</div>
