<h4 class="mt-4 mb-2 text-center">Promoções</h4>
<div class="container text-center mb-5">
  <carousel [isAnimated]="true">
    <slide>
      <img src="assets/Promoções/promocao1.jpg" alt="first slide" />
    </slide>
    <slide>
      <img src="assets/Promoções/promocao2.jpg" alt="second slide" />
    </slide>
    <slide>
      <img src="assets/Promoções/promocao3.jpg" alt="third slide" />
    </slide>
    <slide>
      <img src="assets/Promoções/promocao4.jpg" alt="third slide" />
    </slide>
  </carousel>
</div>
