<ng-container *ngIf="produtos.length != 0">
  <div class="container">
    <h3 class="text-center m-3">Carrinho de compras</h3>
    <hr />
    <ul class="list-group mb-3">
      <li
        class="list-group-item py-3"
        *ngFor="let produto of produtos; let i = index"
      >
        <div class="row g-4">
          <div class="col-4 col-md-3 col-lg-2">
            <img
              style="width: 150px; border-radius: 10px"
              src="{{ produto.foto }}"
              alt="{{ produto.titulo }}"
            />
          </div>
          <div class="col-8 col-md-9 col-lg-7 col-xl-8 align-self-center">
            <h4 class="text-decoration-none text-danger text-center">
              <b>{{ produto.titulo }}</b>
            </h4>
            <p class="text-right">
              <small>{{ produto.descricao }}</small>
            </p>
            <div class="mt-2 text-right">
              <small class="text-secondary"
                >Preço: R$ {{ produto.valor }}</small
              >
            </div>
            <button
              (click)="removerItem(produto)"
              class="text-right"
              mat-icon-button
              matTooltip="Apagar do carrinho"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </li>
      <li class="list-group-item py-3">
        <div class="text-right">
          <h6>
            Valor total:
            <p class="text-danger font-weight-bold">R$ {{ valorTotal }}</p>
          </h6>
          <button class="btn btn-primary mr-2" (click)="removerTodos()">
            APAGAR TUDO
          </button>
          <button class="btn btn-primary mr-2" routerLink="/cardapio">
            COMPRAR MAIS
          </button>
          <button class="btn text-dark bg-success">FINALIZAR</button>
        </div>
      </li>
    </ul>
  </div>
</ng-container>

<ng-container *ngIf="produtos.length == 0">
  <div class="container text-center">
    <h5 class="m-3">Seu carrinho está vázio.</h5>
    <button class="btn btn-info" routerLink="/cardapio">
      IR PARA PRODUTOS
    </button>
  </div>
</ng-container>
