<div class="container">
  <h4 class="text-center mt-2">Categorias</h4>
  <div class="col-12 col-lg-12">
  <div class="row">
    <ng-container *ngFor="let categoria of categorias">
      <div class="card text-center mt-2 mb-2">
        <img
          src="{{ categoria.foto }}"
          alt="{{ categoria.titulo }}"
          style="height: 200px; width: 300px; padding: 10px"
        />
        <h5 class="card-title">{{ categoria.titulo }}</h5>
        <div class="container">
          <button
            class="btn btn-outline-primary mb-2"
            [routerLink]="['/produto']"
            [queryParams]="{ categoria: categoria.titulo }"
          >
            SELECIONAR
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
</div>
