<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-2 border-right">
      <accordion class="text-center" [isAnimated]="true">
        <accordion-group heading="Cadastrar">
          <button
            class="btn btn-block border-secondary"
            routerLink="categorias"
          >
            Categorias
          </button>
          <button class="btn btn-block border-secondary" routerLink="produtos">
            Produtos
          </button>
          <button class="btn btn-block border-secondary" routerLink="usuarios">
            Usuários
          </button>
        </accordion-group>
        <accordion-group heading="Gerenciamento">
          <button class="btn btn-block border-secondary" routerLink="alterar-categoria">Categorias</button>
          <button class="btn btn-block border-secondary" routerLink="alterar-produto">Produtos</button>
          <button class="btn btn-block border-secondary">Usuários</button>
        </accordion-group>
        <accordion-group heading="Listar">
          <button class="btn btn-block border-secondary">Categorias</button>
          <button class="btn btn-block border-secondary">Produtos</button>
          <button class="btn btn-block border-secondary">Usuários</button>
        </accordion-group>
        <button class="btn btn-outline-info w-100 mt-2" (click)="logout()">SAIR</button>
      </accordion>
    </div>
    <div class="col-12 col-lg-10 col-md-8 col- container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
